Source: openmediavault-omvpluginsorg
Section: misc
Priority: optional
Maintainer: Marcel Beck <marcel.beck@mbeck.org>
Build-Depends: debhelper (>= 7 )
Standards-Version: 3.6.10
Homepage: http://omv-plugins.org/

Package: openmediavault-omvpluginsorg
Architecture: all
Depends: openmediavault (>= 0.4)
Description: OMV-Plugins.org Package Repositories for OpenMediaVault
